<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src= "scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/jquery-2.2.0.min.js"></script>
</head>
<body  ng-app="myApp" ng-controller="myController">
    <h1>Dota 2, find last match by 64 bit id </h1>
    <h2>Example value: 76561198033641928</h2>
    Steam ID: <input type="text" ng-model = "steamid" value="76561198033641928">
    <button ng-click="search()"> Search </button>
    <table class="table">
        <tr>
            <td></td>
            <td>Player</td>
            <td></td>
            <td>Level</td>
            <td>K</td>
            <td>D</td>
            <td>A</td>
            <td>KDA</td>
            <td>Gold</td>
            <td>LH</td>
            <td>DN</td>
            <td>XPM</td>
            <td>GPM</td>
            <td>HD</td>
            <td>HH</td>
            <td>TD</td>
            <td>Items</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="player in match.players">
            <td><img ng-src ="{{player.hero_img}}"></td>
            <td>{{player.steam_info.personaname }}</td>
            <td> <img ng-src="{{player.steam_info.avatar}}" height="32px" width="32px"></td>
            <td>{{player.level}}</td>
            <td>{{player.kills}}</td>
            <td>{{player.deaths}}</td>
            <td>{{player.assists}}</td>
            <td>{{(player.kills+player.assists)/player.deaths | number:fractionSize}}</td>
            <td>{{player.gold_per_min * (match.duration/60)| number : 0}}</td>
            <td>{{player.last_hits}}</td>
            <td>{{player.denies}}</td>
            <td>{{player.xp_per_min}}</td>
            <td>{{player.gold_per_min}}</td>
            <td>{{player.hero_damage}}</td>
            <td>{{player.hero_healing}}</td>
            <td>{{player.tower_damage}}</td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_0)}}"></td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_1)}}"></td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_2)}}"></td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_3)}}"></td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_4)}}"></td>
            <td><img width="42.5px" height="32px" ng-src="{{getItem(player.item_5)}}"></td>
            
        </tr>
    </table>
        <h1>AngularJS Testing Ground</h1>
    <input type="text" ng-model = "myname">
    <ul>
        <li data-ng-repeat="name in names | filter:myname">{{name}}</li>
    </ul>
</body>
</html