<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/script.js"></script>
</head>
<body id="body" ng-app="starter" ng-controller="gameCtrl">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title" id="title">Invoker Game</h1>
        </ion-header-bar>
        <ion-content>
            <div id="wrapper" style="text-align:center">
                <div class="game" id="game">
                    <br />
                    <div class="currentBalls">
                        <img id="ballOne" src="img/invoker-nothing.png" height="50">
                        <img id="ballTwo" src="img/invoker-nothing.png" height="50">
                        <img id="ballThree" src="img/invoker-nothing.png" height="50">
                        <img id="spell" src="img/invoker-{{listOfAllSpells[currentSpell]}}.png" height="50">
                        <div class="gameInfo"> <h3 id="timer"> Timer: {{time}} </h3> <h3 id="score"> Score: {{score}} </h3><br /> <img id="answerSpell" src="img/invoker-{{listOfAllSpells[answerSpell]}}.png" height="50"></div>
                    </div>
                    <br />
                    <button id="quas" class="button button-positive" ng-click="addOrb(1)"><img src="img/invoker-quas.png" height="50"></button>
                    <button id="wex" class="button button-positive" ng-click="addOrb(3)"><img src="img/invoker-wex.png" height="50"> </button>
                    <button id="exort" class="button button-positive" ng-click="addOrb(6)"><img src="img/invoker-exort.png" height="50"></button>
                    <button id="invoke" class="button button-positive" ng-click="invoke()"><img src="img/invoker-invoke.png" height="50"></button>
                    <br />
                    <button class="button button-positive" id="startGame" ng-click="startGame()"> Start Game </button>
                    <br />
                    <button class="button button-positive" id="restartGame" ng-click="restartGame()"> Restart Game </button>
                    <div class="stats">
                        <h3>Stats (Angular)</h3>
                        <table>
                            <tr>
                                <td>Keys Pressed: </td>
                                <td>{{stats[0]}}</td>
                            </tr>
                            <tr>
                                <td>Spells Invoked: </td>
                                <td>{{stats[1]}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</body>
</html>
